* {
  font-family: "Special Elite", cursive;
}
body {
  background-color: rgba(208, 202, 202, 0.844);
}

body.home {
  background-color: transparent;
}

.home .container {
  background-image: url("../images/homeBackground.png");
  background-size: cover;
  height: 100vh;
  margin: unset;
  max-width: unset;
  text-align: center;
}

.navbar {
  background-image: url("../images/navbar1.png");
  background-size: 61vw 82px;
  background-repeat-y: no-repeat;
  font-size: 20px;
}

.navbar-light .navbar-brand {
  color: white;
  padding-left: 5px;
  position: relative;
  top: -8px;
}

.container h1 {
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 0;
}
