* {
  font-family: "Special Elite", cursive;
}
body {
  background-color: rgba(208, 202, 202, 0.844);
}

.home {
  background-image: url("../images/homeBackground.png");
  background-size: cover;
  height: 100vh;
  margin: unset;
  max-width: unset;
  text-align: center;
}
